#contact {
  padding: 70px;
}
.contact-wrapper {
  padding: 60px 0;
}

.contact-header {
  text-align: left;
  margin-bottom: 50px;
}

.contact-header h5 {
  color: #0c96e2;
  font-size: 20px;
}

.contact-header h1 {
  font-size: 40px;
  margin-top: 15px;
  color: #1d2130;
}

.contact-header h1 span {
  color: #0c96e2;
}

.contact-content {
  display: flex;
  gap: 80px;
  align-items: stretch;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.icon-box {
  background: #0c96e2;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.icon-box img {
  width: 50px;
  height: 50px;
}

.icon-box img {
  width: 24px;
  height: 24px;
}

.info-text p {
  color: #92929d;
  margin-bottom: 5px;

  span {
    color: #1d2130;
  }
}

.contact-form {
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-group {
  display: flex;
  gap: 20px;
}

.input-group input {
  flex: 1;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #bec0bf;
  color: #92929d;
  border-radius: 8px;
  background: transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.send-btn {
  margin-top: 15px;
  align-self: flex-start;
  padding: 15px 40px;
  background: #0c96e2;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-header h1 {
    font-size: 32px;
  }

  .info-item {
    padding: 20px;
  }

  input {
    width: 140px;
  }

  .send-btn {
    margin-top: 20px;
  }
}
