.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100% - 140px);
  top: 40px;
  left: 70px;
  background-color: var(--navbar-bg);
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 2px;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.navbar_logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: var(--text-color);
}

.navbar_links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navbar_links li a {
  transition: 200ms;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}

.navbar_links li a.active {
  color: var(--primary-color);
  background-color: var(--active-bg);
}

.theme-toggle-btn {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  margin-right: 15px;
  transition: color 0.3s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -ms-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
}

.sidebar.show {
  right: 0;
}

.sidebar_links {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 100%;
}

.sidebar_links li {
  margin: 15px 0;
}

.sidebar_links li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-);
  transition: 200ms;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}

.sidebar_links li a.active {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.sidebar_close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .navbar {
    padding: 15px;
    width: 100%;
    left: 0;
    top: 0;
  }

  .navbar_links {
    display: none;
  }

  .navbar_menu-btn {
    display: block;
  }
}
